/* здесь используйте глобальные переменные */
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$gray-accent: #d9d9d9;
$special-grey-ligth: #ebebeb;
$special-grey-medium: #eaeaea;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$special-dark-more-grey: #222222;
$status-error: #ff8282;
$basic-green-2: #5eaa2f;
$special-color-black: #000000;
$special-color-white: #ffffff;
$basic-green-border: #e6e6e6;

$oswald-family: "Oswald", sans-serif;
$lato-family: "Lato", sans-serif;

$tablet-widht: 768px;
$desktop-widht: 1440px;
