/* здесь используйте глобальные переменные */
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$gray-accent: #d9d9d9;
$special-grey-ligth: #ebebeb;
$special-grey-medium: #eaeaea;
$special-grey: #e7e7e7;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$special-dark-more-grey: #222222;
$status-error: #ff8282;
$basic-green-2: #5eaa2f;
$special-color-black: #000000;
$special-color-white: #ffffff;
$basic-green-border: #e6e6e6;
$color-active-white: rgba(255, 255, 255, 0.2);
$color-active-black: rgba(0, 0, 0, 0.3);
$special-grey-form: #cdcdcd;

$oswald-family: "Oswald", "Arial Narrow", "Arial", sans-serif;
$lato-family: "Lato", "Segoe UI", "Helvetica Neue", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
