/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
/* INDEX */
@import "./blocks/button.scss";
@import "./blocks/title.scss";
@import "./blocks/text.scss";
@import "./blocks/link.scss";
@import "./blocks/list-reset.scss";
@import "./blocks/header.scss";
@import "./blocks/greetings.scss";
@import "./blocks/programs.scss";
@import "./blocks/promo.scss";
@import "./blocks/example.scss";
@import "./blocks/contact.scss";
@import "./blocks/cooperation.scss";

/* CATALOG */
@import "./blocks/catalog.scss";
@import "./blocks/additions.scss";
@import "./blocks/form-promotion.scss";
