.additions {
  position: relative;

  &::before {
    content: "";
    border: 1px solid #68b738;
    position: absolute;
    top: 34px;
    right: 0;
    min-width: calc(100% - 285px);
  }
}

.additions__wrapper {
  padding: 20px;
}

.additions__title {
  margin-bottom: 36px;
  background-color: #ffffff;
}

.additions__card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  margin: 20px 0;
  border-bottom: 1px solid $special-grey;
}

.additions__card:first-child {
  border-top: 1px solid $special-grey;
  padding: 13px 0;
}

.additions__card-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-more-grey;
  grid-column: 1/4;
}

.additions__card-cell {
  font-size: 14px;
  line-height: 14px;
  grid-column: 1/2;
}

.additions__card-cell-price {
  grid-column: 2/4;
}

.additions__card-button {
  grid-column: 1/4;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.additions__present {
  display: flex;
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
    url("../../images/catalog/cat-backpack-mobail@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 100%;
  min-height: 290px;
}

.additions__text {
  display: flex;
  align-self: flex-end;
  position: relative;
  color: $special-color-white;
  text-align: center;
  justify-content: center;
  vertical-align: bottom;
  padding: 43px 58px;

  &::before {
    content: "";
    position: absolute;
    height: 78px;
    width: 80px;
    mask-image: url("../../icons/stack.svg#gift");
    background-color: $special-color-white;
    top: -64px;
    justify-self: center;
  }
}
