.addition__wrapper {
  padding: 20px;
}

.additions__title {
  margin-bottom: 36px;
}

.additions__card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  margin: 20px 0;
  border-bottom: 1px solid $special-grey;
}

.additions__card:first-child {
  border-top: 1px solid $special-grey;
}

.additions__card-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-more-grey;
  grid-column: 1/4;
}

.additions__card-cell {
  font-size: 14px;
  line-height: 14px;
  grid-column: 1/2;
}

.additions__card-cell-price {
  grid-column: 2/4;
}

.additions__card-button {
  grid-column: 1/4;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
