.additions {
  position: relative;

  &::before {
    content: "";
    border: 1px solid #68b738;
    position: absolute;
    top: 34px;
    right: 0;
    min-width: calc(100% - 285px);
  }

  @media (min-width: $tablet-widht) {
    &::before {
      min-width: calc(100% - 342px);
    }
  }
}

.additions__wrapper {
  padding: 20px;

  @media (min-width: $tablet-widht) {
    padding: 30px;
  }
}

.additions__title {
  margin-bottom: 36px;
  background-color: #ffffff;
}

.additions__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
}

.additions__card-list {
  @media (min-width: $tablet-widht) {
    margin-bottom: 20px;

    &:not(:last-child) {
      border: 1px solid $special-grey;
      box-sizing: border-box;
    }
  }

  @media (min-width: $desktop-widht) {
    &:not(:last-child) {
      border: none;
    }
  }
}

.additions__card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  margin: 20px 0;
  border-bottom: 1px solid $special-grey;
  padding: 13px 0;


  @media (min-width: $tablet-widht) {
    padding: 0 40px;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-widht) {
    &:last-child {
      border-bottom: 1px solid $special-grey;
    }
  }
}

.additions__card:first-child {
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-widht) {
    border-top: none;
  }

  @media (min-width: $desktop-widht) {
    border-top: 1px solid $special-grey;
  }
}

.additions__card-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-dark-more-grey;
  grid-column: 1/4;

  @media (min-width: $tablet-widht) {
    grid-column: 1/2;
  }
}

.additions__card-cell {
  font-size: 14px;
  line-height: 14px;
  grid-column: 1/2;

  @media (min-width: $tablet-widht) {
    grid-column: 2/3;
  }
}

.additions__card-cell-price {
  grid-column: 2/4;

  @media (min-width: $tablet-widht) {
    grid-column: 3/4;
  }
}

.additions__card-button {
  grid-column: 1/4;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.additions__present {
  display: flex;
  background-image:
    linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
    url("../../images/catalog/cat-backpack-mobail@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 100%;
  min-height: 290px;

  @media (min-resolution: 2dpi) {
    background-image:
      linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
      url("../../images/catalog/cat-backpack-mobail@2x.jpg");
  }

  @media (min-width: $tablet-widht) {
    min-height: 200px;
    background-image:
      linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
      url("../../images/catalog/cat-backpack-tablet@1x.jpg");

    @media (min-resolution: 2dpi) {
      background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
        url("../../images/catalog/cat-backpack-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-widht) {
    background-image:
      linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
      url("../../images/catalog/cat-backpack-desktop@1x.jpg");
    max-height: 288px;

    @media (min-resolution: 2dpi) {
      background-image:
        linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(104, 183, 56, 0.85) 0),
        url("../../images/catalog/cat-backpack-desktop@2x.jpg");
    }
  }
}

.additions__text {
  display: flex;
  align-self: flex-end;
  position: relative;
  color: $special-color-white;
  text-align: center;
  justify-content: center;
  vertical-align: bottom;
  padding: 43px 58px;

  &::before {
    content: "";
    position: absolute;
    height: 78px;
    width: 80px;
    mask-image: url("../../icons/stack.svg#gift");
    background-color: $special-color-white;
    top: -64px;
    justify-self: center;
  }
}
