.button {
  background-color: $basic-green;
  font-family: $oswald-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $special-color-white;
  border: transparent;
  box-sizing: border-box;

  @media (min-width: $tablet-widht) {
    font-size: 20px;
    line-height: 26px;
  }
}
