.cooperation__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__text {
  line-height: 18px;
}
