.cooperation {
  position: relative;
}

.cooperation--background {
  background-color: $basic-grey;
}

.cooperation__wrapper-text {
  padding: 26px 23px 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;

    &--catalog {
      background-color: $basic-grey;
    }
  }


  @media (min-width: $desktop-width) {
    position: absolute;
    min-width: 565px;
    z-index: 1;
    background-color: $special-color-white;
    padding: 60px 77px 60px 81px;
    box-sizing: border-box;
    left: 109px;
    top: 94px;
  }
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.cooperation__text {
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.cooperation__text-city {
  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.cooperation__map-container {
  position: relative;
  height: 362px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.cooperation__map {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: block;
  width: 100vw;
  height: 362px;
  top: 0;
  background-image: url("../../images/map-mobail@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dpi) {
    background-image: url("../../images/map-mobail@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../images/map-tablet@1x.jpg");
    height: 400px;


    @media (min-resolution: 2dpi) {
      background-image: url("../../images/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/map-desktop@1x.jpg");
    height: 400px;

    @media (min-resolution: 2dpi) {
      background-image: url("../../images/map-desktop@2x.jpg");
    }
  }
}
