.example__wrapper {
  padding: 20px;
  background-color: $special-grey-medium;

  @media (min-width: $tablet-widht) {
    background-color: transparent;
    border-top: 2px solid $basic-green-border;
    padding: 30px;
  }
}

.example__addition {
  font-family: $oswald-family;
  max-width: 124px;
  max-height: 70px;
  border: 1px solid $gray-accent;
  border-radius: 3px;
  padding: 14px 20px;
  position: relative;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-widht) {
    min-width: 162px;
    min-height: 77px;
  }
}

.example__time {
  @media (min-width: $tablet-widht) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.example__tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;

  @media (min-width: $tablet-widht) {
    gap: 45px;
  }
}


.example__accent {
  font-size: 24px;
  line-height: 24px;
  color: $special-color-black;
  text-transform: uppercase;
  min-width: 124px;

  &--height::after {
    content: "Снижение веса";
    font-family: $lato-family;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: $special-dark-grey;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $special-grey-medium;
    padding: 0 10px;
  }

  &--day::after {
    content: "Затрачено времени";
    font-family: $lato-family;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: $special-dark-grey;
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $special-grey-medium;
    padding: 0 10px;
  }

  @media (min-width: $tablet-widht) {
    font-size: 30px;
    line-height: 37px;


    &--height::after,
    &--day::after {
      background-color: $special-color-white;
      font-size: 14px;
      line-height: 14px;
      white-space: nowrap;
      top: 65px;
    }
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-widht) {
    font-size: 20px;
    line-height: 20px;
  }
}


.example__sliders {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.example__slider {
  @media (min-width: $tablet-widht) {
    background: linear-gradient(to bottom, $special-color-white 30%, $special-grey-medium 30%, $special-grey-medium 100%);
    padding-bottom: 50px;
  }
}

.example__sliders-container {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
}

.example__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}

.example__slide:first-child {
  opacity: 1;
}

.example__sliders-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
}

.example__slider-item::after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.example__slide--big-cat {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 50% 0 0);
}

.example__slide--thin-cat {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 0 0 50%);
}

.example__slider-input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.example__slider-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: $special-color-white;
  border: 2px solid $special-grey-2;
  border-radius: 50%;
  translate: -50% -50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#arrows");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $special-grey-2;
    translate: -50% -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: -108px;
    left: 50%;
    width: 4px;
    height: 108px;
    background-color: $special-grey-2;
    translate: -50% 0;
    box-shadow: 0 144px 0 0 $special-grey-2;
  }
}
