.example {
  @media (min-width: $desktop-widht) {
    display: flex;
    background: linear-gradient(to bottom, $special-color-white 24%, $special-grey-medium 24%, $special-grey-medium 100%);
  }
}

.example__wrapper {
  padding: 25px 20px;
  background-color: $special-grey-medium;

  @media (min-width: $tablet-widht) {
    background-color: transparent;
    border-top: 2px solid $basic-green-border;
    padding: 44px 30px 30px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-widht) {
    border: none;
    padding: 10px 110px;
    margin-bottom: 32px;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-widht) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-widht) {
    margin-bottom: 146px;
  }
}

.example__text-container {
  max-width: 436px;

  @media (min-width: $tablet-widht) {
    max-width: 100%;
  }

  @media (min-width: $desktop-widht) {
    max-width: 66%;
  }
}

.example__text {
  margin: 0 0 4px;

  @media (min-width: $tablet-widht) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-widht) {
    margin-bottom: 53px;
  }
}

.example__addition {
  font-family: $oswald-family;
  max-width: 124px;
  max-height: 70px;
  border: 1px solid $gray-accent;
  border-radius: 3px;
  padding: 14px 20px;
  position: relative;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-widht) {
    min-width: 161px;
    min-height: 71px;
  }
}

.example__time {
  @media (min-width: $tablet-widht) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-widht) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
}

.example__tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 31px;
  margin-bottom: 17px;

  @media (min-width: $tablet-widht) {
    gap: 45px;
  }

  @media (min-width: $desktop-widht) {
    margin-bottom: 30px;
  }
}


.example__accent {
  font-size: 24px;
  line-height: 24px;
  color: $special-color-black;
  text-transform: uppercase;
  min-width: 124px;

  &--height::after {
    content: "Снижение веса";
    font-family: $lato-family;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: $special-dark-grey;
    position: absolute;
    top: 46px;
    left: 49%;
    transform: translateX(-50%);
    background-color: $special-grey-medium;
    padding: 0 10px;
  }

  &--day::after {
    content: "Затрачено времени";
    font-family: $lato-family;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    color: $special-dark-grey;
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $special-grey-medium;
    padding: 0 10px;
  }

  @media (min-width: $tablet-widht) {
    font-size: 30px;
    line-height: 37px;


    &--height::after,
    &--day::after {
      background-color: $special-color-white;
      font-size: 14px;
      line-height: 14px;
      white-space: nowrap;
      top: 61px;
    }
  }

  @media (min-width: $desktop-widht) {
    &--height::after,
    &--day::after {
      background-color: $special-grey-medium;
    }
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-widht) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: -19px;
    gap: 9px;
  }

  @media (min-width: $desktop-widht) {
    display: flex;
    flex-direction: row;
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: start;
    gap: 66px;
  }
}

.example__sliders {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.example__slider {
  background-color: $special-grey-medium;
  padding: 0 0 35px;

  @media (min-width: $tablet-widht) {
    background: linear-gradient(to bottom, $special-color-white 24%, $special-grey-medium 24%, $special-grey-medium 100%);
    padding-bottom: 96px;
  }

  @media (min-width: $desktop-widht) {
    background: transparent;
  }
}

.example__sliders-container {
  position: relative;
  max-width: 280px;
  min-height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-widht) {
    min-width: 560px;
    min-height: 512px;
  }
}

.example__slide {
  position: absolute;
  min-width: 100%;
  height: 100%;
  transition: opacity 1s;
}

.example__slide:first-child {
  opacity: 1;
}

.example__sliders-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: -5px;
  background-color: $special-grey-medium;

  @media (min-width: $tablet-widht) {
    background-color: transparent;
  }

  @media (min-width: $desktop-widht) {
    top: 14px;
    right: 110px;
  }
}

.example__slider-item::after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.example__slide--big-cat {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 50% 0 0);
}

.example__slide--thin-cat {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 0 0 50%);
}

.example__slider-input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.example__slider-button {
  position: absolute;
  left: 50%;
  top: 48%;
  width: 40px;
  height: 40px;
  background-color: $special-color-white;
  border: 2px solid $special-grey-2;
  border-radius: 50%;
  translate: -50% -50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#arrows");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $special-grey-2;
    translate: -50% -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: -111px;
    left: 50%;
    width: 4px;
    height: 111px;
    background-color: $special-grey-2;
    translate: -50% 0;
    box-shadow: 0 147px 0 0 $special-grey-2;
    border-radius: 3px;
  }

  @media (min-width: $tablet-widht) {
    top: 49%;
    left: 50%;

    &::after {
      height: 238px;
      top: -238px;
      box-shadow: 0 274px 0 0 $special-grey-2;
    }
  }

  @media (min-width: $desktop-widht) {
    top: 53%;
    left: 170px;
  }
}
