.form-promotion__form {
  padding: 20px;
}

.form-promotion__text {
  font-size: 16px;
  line-height: 24px;
  color: $special-color-black;
  text-align: center;
}

.form-promotion__input {
  width: 100%;
  padding: 11px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 20px;
  font-family: $oswald-family;
  margin-bottom: 16px;
  border: 1px solid $special-grey;
  border-radius: 1px;
}

.form-promotion__input::placeholder {
  text-transform: uppercase;
  font-size: 20px;
  font-family: $oswald-family;
}

.form-promotion__button {
  padding: 15px;
  width: 100%;
}
