.form-promotion {
  position: relative;
}

.form-promotion__form {
  padding: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: -20px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 61px;
  }
}

.form-promotion__container {
  @media (min-width: $tablet-width) {
    padding: 66px 49px 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.form-promotion__title {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    margin-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
  }
}

.form-promotion__text {
  font-family: $oswald-family;
  font-size: 16px;
  line-height: 24px;
  color: $special-color-black;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.form-promotion__container-input {
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    max-width: 752px;
  }
}

.form-promotion__input {
  width: 100%;
  padding: 12px 11px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 20px;
  font-family: $oswald-family;
  margin-bottom: 16px;
  border: 1px solid $special-grey;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 152%;
  }

  @media (min-width: $desktop-width) {
    width: 204%;
  }
}

@media (min-width: $desktop-width) {
  .form-promotion__input--error {
    border: 2px solid #ff8282;
  }

  .form-promotion__input:hover {
    border: 1px solid $special-grey-form;
  }

  .form-promotion__input:focus {
    border: 2px solid $special-dark-grey;
  }
}

.form-promotion__input::placeholder {
  text-transform: uppercase;
  font-size: 20px;
  font-family: $oswald-family;
}

.form-promotion__button {
  font-size: 20px;
  padding: 18px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 15px;
  }
}
