.greetings__wrapper {
  min-height: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.greetings__container {
  padding: 27px 20px 20px;
  background-image: url("../../images/index/background/index-background-mobail@1x.jpg");
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 302px;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  margin-bottom: -100px;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    min-height: 302px;
    background-image: linear-gradient(to right, #ffffff 0%, rgba(105, 183, 56, 0.85) 0%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  @media (min-resolution: 192dpi) {
    background-image: url("../../images/index/background/index-background-mobail@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    min-width: 50vw;
    height: 694px;
    left: 720px;
    top: -173px;
    background-image: url("../../images/index/background/index-background-desktop@1x.jpg");
    background-position: 0 0;
    background-size: cover;

    &::before {
      content: "";
      display: block;
      width: 50vw;
      height: 100%;
      background-image: linear-gradient(to right, #ffffff 0%, rgba(105, 183, 56, 0.85) 0%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    @media (min-resolution: 192dpi) {
      background-image: url("../../images/index/background/index-background-desktop@2x.jpg");
    }
  }
}

.greetings__container-text {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    margin-left: 119px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 187px;
    right: 529px;
    width: 100%;
  }
}

.greetings__title {
  color: $special-color-white;
  text-align: center;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    color: $special-color-black;
    text-align: start;
    margin-bottom: 39px;
  }
}

.greetings__text {
  font-family: $oswald-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-color-white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: $special-color-black;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}

.greetings__img-container {
  margin: -35px auto -1px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 35px auto -1px;
  }
}

.greetings__img {
  z-index: 1;

  @media (min-width: $desktop-width) {
    position: absolute;
    left: -163px;
    top: -64px;
  }
}

.greetings__button {
  padding: 10px 64px;

  @media (min-width: $tablet-width) {
    z-index: 1;
    padding: 14px 27px;
    position: absolute;
    top: 266px;
    left: 120px;
  }

  @media (min-width: $desktop-width) {
    top: 284px;
    left: 190px;
    padding: 14px 28px;
  }
}
