.title {
  font-family: $oswald-family;
  font-weight: 400;
  color: $special-color-black;
  margin: 0;
}

.title-main {
  font-size: 36px;
  line-height: 36px;
}

.title-section {
  font-size: 36px;
  line-height: 40px;
}

.title-section-catalog {
  font-size: 24px;
  line-height: 24px;
  color: $special-color-black;
}
